* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: white;
  border-bottom: 1px solid #ddd;
  width: 100%;
}

.running-promo-banner {
  background-color: #01214A;
  color: white;
  text-align: center;
  padding: 10px 0 10px;
  font-size: 1vw;
  width: 100%;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: white;
  width: 100%;
  height: 8vw;
}

.logo img {
  margin-left: 4vw;
  height: 4vw;
  aspect-ratio: 4;
}
.logo{
  width: 25%;
}

.search-bar {
  display: flex;
  align-items: center;
  flex: 1;
  margin: 0 30px;
  border: 1px solid #222;
  border-radius: 5px;
  width: 42%;
  max-width: 60%;
}

.search-bar select {
  margin-left: 0px;
  height: 4vw;
  width: 40%;
  font-size: 1.2vw;
  font-weight: 500;
  text-align: center;
  border: 1px solid #01214A ;
  color: #01214A;
  border-radius: 5px;
}

.search-bar input {
  width: 70%;
  height: 4vw;
  align-items: center;
  border: 0;
  padding-left: 30px;
  font-size: 1.1vw;
}

.search-bar input::placeholder {
  text-align: left;
  font-size: 1.25vw; 
}

.search-bar button {
  padding: 6px 10px;
  background-color: #0e1b44;
  height: 4vw;
  width: 15%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.account-cart {
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.account-cart a {
  text-decoration: none;
  font-size: 1.25vw;
  font-weight: 500;
  color: #333;
}

.account-cart .material-symbols-outlined{
  font-size: 3.3vw;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


.account-link {
  width: max-content;
  height: 50px;
  margin-right: 60px;
}

.cart-link {
  width: max-content;
  height: 50px;
  margin-right: 30px;
  vertical-align: middle;
}

.cart-link .material-symbols-outlined{
  font-variation-settings:
  'wght' 350
}

.nav-bar {
  background-color: #fff;
  margin-left: 2%;  
  text-align: left;
  padding-bottom: 12px;
}

.nav-bar a {
  margin: 0 15px;
  text-decoration: underline .12em rgba(0, 50, 116, 0);
  text-underline-offset: 0.2em;
  transition: text-decoration-color 300ms;
  font-size: 1.15vw;
  font-weight: 600;
  color: #333;
  padding-left: 3%;
}

/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.promotion-banner {
  position: relative;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.carousel {
  position: relative;
}

.carousel img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.carousel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  font-size: 24px;
}

.carousel .prev {
  left: 10px;
}

.carousel .next {
  right: 10px;
}

/* Carousel Indicators */

.carousel-indicators {
  position: absolute;
  bottom: 20px; /* Positioning at the bottom within the image */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.carousel-indicators .dot {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.carousel-indicators .active {
  background-color: #333;
}

/* Responsiveness */
@media (max-width: 768px) {
  .carousel button {
      font-size: 1.2vw;
  }
  
  .carousel img {
      max-height: 300px;
  }

  .carousel-indicators {
      bottom: 10px;
  }
}
  
a:hover{
  color: rgb(0, 50, 116);
  text-decoration-color: rgba(0, 50, 116, 1);
}

a.sale-link:hover{
  color: rgb(154, 0, 0);
  text-decoration-color: rgba(154, 0, 0, 1);
}

.material-symbols-outlined {
  vertical-align: middle;
  color: #444;
}
.material-symbols-outlined:hover {
  color: #01214A;
}

a.sale-link {
  color: #9A0000;
}

/* footer */

/* Footer Styles */
footer {
  background-color: #01214A;
  color: white;
  height: 300px
}

.footer-container {
  display: flex;
}

.footer-column {
  padding-left: 15px;
  min-width: 200px;
  margin: 30px;

}
.newsletter-column {
  
  min-width: 200px;
  margin: 30px;
  margin-left: 150px;
}

.footer-column h4, .newsletter-column h4 {
  margin-bottom: 15px;
  font-size: 1.15vw;
}

.footer-column p, .newsletter-column p {
  margin-bottom: 10px;
  font-size: 1.1vw;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: white;
  text-decoration: none;

}

.footer-column ul li a:hover {
  color: white;
  text-decoration: underline;

}



.newsletter-form {
  display: flex;
  margin-bottom: 10px;
  border: 2px solid #fff;
  border-radius: 3px;
}

.newsletter-form input {
  padding: 10px;
  border: none;
  border-radius: 3px 0 0 3px;
  background-color: white;
  width: 80%;
}

.newsletter-form button {
  background-color: #01214A;
  border: none;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 0 3px 3px 0;
  width: 12%;
}

.payment-methods img {
  width: 40px;
  margin-right: 10px;
}

.footer-bottom {
  text-align: center;
  margin-top: 0px;
  font-size: 1.1vw;
}

@media (max-width: 768px) {
  .footer-container {
      flex-direction: column;
      text-align: center;
  }

  .newsletter-form input {
      width: 100%;
      margin-bottom: 10px;
      border-radius: 3px;
  }

  .newsletter-form button {
      width: 100%;
      border-radius: 3px;
  }

  .payment-methods img {
      margin-top: 10px;
  }
}

.offer-categories {
  text-align: left;
  margin: 40px 0 30px 80px;
}

.offer-categories h2 {
  font-size: 1.2vw;
  margin-bottom: 20px;
}

.offers-container {
  display: flex;
  gap: 50px;
}

.offer-item {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  height: 280px;
  width: 250px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0), 25px 0 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
  
}

.new-product {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  height: 250px;
  width: 300px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0), 25px 0 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
  
}


.offer-item img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.new-product img {
  width: 100%;
  height: 180px;
}

.placeholder {
  width: 100%;
  height: 180px;
  background-color: #e6e6e6;
  margin-bottom: 10px;
}

.offer-item p {
  font-size: 1vw;
}

.offer-item h3 {
  font-size: 0.92vw;
  text-align: center;
}

.price {
  font-weight: bold;
  margin: 10px 0;
  display: inline-block;
}
.new-product .price {
  margin-left: 3vw;
}
.new-product p{
  display: inline-block;
  gap: 20px;
}

.shop-now-btn {
  background-color: #01214A;
  color: white;
  margin-top: 15px;
  margin-left: 30px;
  margin-bottom: 100px;
  padding: 7px 12px;
  cursor: pointer;
  border-radius: 10px;
  display: inline-block;
}

.shop-now-btn:hover {
  background-color: #fff;
  color: #01214A;
}

.new-products {
  text-align: center;
  margin: 40px 0;
}

.new-products h2 {
  font-size: 1.3vw;
  margin-bottom: 20px;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-control {
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.product-item {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 180px;
  margin: 0 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.product-item img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}


.empty-cart {
  text-align: center;
  margin-top: 50px;
  margin-top: 100px;
  padding: 100px 0 200px 0;
  font-size: 35px;
}

#homepage-button {
  background-color: #0a2742;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.empty-cart button:hover {
  background-color: #08335a;
}

.categories-container {
  display: flex;
  margin: 20px;
}

.filter-section {
  width: 20%;
  padding: 20px;
  background-color: #fff;
  margin-right: 20px;
  border: 1px solid #e0e0e0;
  font-size: 18px;
}



.filter-section h3{
  display: inline-flex;
  padding-bottom: 10px;
  gap: 5px;
}

.filter-section h4{
  padding-top: 15px ;
}


.filter-section label {
  display: block;
  margin: 10px 0;
}

.product-grid {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.pagination {
  align-items: left;
  padding: 30px 0 30px 250px;
  text-align: center;
  margin: 20px;
}

.pagination a {
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid #ddd;
  margin: 0 5px;
  color: #333;
}

.pagination a.active {
  background-color: #01214A;
  color: white;
}

.pagination a:hover {
  background-color: #01214A;
  color: white;
}
.order-confirmation{
  text-align: center;
  margin-top: 0;
  padding: 100px 0 200px 0;
  font-size: 25px;
  gap: 20px;
}

.order-confirmation p{
  padding-top: 20px;
}

.login-box {
  background-color: white;
  padding: 30px 30px 30px 30px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin:0 500px;
  

}


.input-group Input, .create-account-btn {
  width: 100%;
  height: 40px;
  margin-bottom: 30px;
  border-radius: 4px;
  font-size: 1rem;
}

.login-box form button{
  margin-bottom: 30px;
}
.input-group label {
  float: left;
}
.forgot-password {
  float: right;
}



a:hover {
  text-decoration: underline;
}

.btn, .create-account-btn {
  background-color: #003366;
  color: white;
  border: none;
  cursor: pointer;
}

.create-account-btn {
  margin-top: 10px;
  border: 1px solid #003366;
  background-color: white;
  color:#01214A;
}

.create-account-btn:hover {
  background-color: #01214A;
  color: white;
}

.login-footer{
  padding-top: 20px
}
.create-account{
  padding-top: 20px;
}