* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: white;
  border-bottom: 1px solid #ddd;
}

.promo-banner {
  background-color: #01214A;
  color: white;
  text-align: center;
  padding: 10px 0 10px;
  font-size: 14px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  
  background-color: white;
}

.logo img {
  margin-left: 50px;
  width: 200px;
  height: 50px;
}

.search-bar {
  display: flex;
  align-items: center;
  flex: 1;
  margin: 0 30px;
  border: 1px solid #111 ;
  border-radius: 5px;
  max-width: 600px;
}

.search-bar select {
  margin-left: 0px;
  height: 50px;
  width: 180px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  border: 1px solid #01214A ;
  color: #01214A;
  border-radius: 5px;
}

.search-bar input {
  width: 400px;
  height: 50px;
  align-items: center;
  border: 0;
  padding-left: 30px;
  font-size: 16px;
}

.search-bar input::placeholder {
  text-align: left;
  font-size: 18px; 
}

.search-bar button {
  padding: 6px 10px;
  background-color: #0e1b44;
  height: 50px;
  width: 70px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.account-cart {
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.account-cart a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.account-cart .material-symbols-outlined{
  font-size: 48px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


.account-link {
  width: max-content;
  height: 50px;
  margin-right: 60px;
}

.cart-link {
  width: max-content;
  height: 50px;
  margin-right: 30px;
  vertical-align: middle;
}

.cart-link .material-symbols-outlined{
  font-variation-settings:
  'wght' 350
}

.nav-bar {
  background-color: #fff;
  margin-left: 15px;  
  text-align: left;
  padding-bottom: 12px;
}

.nav-bar a {
  margin: 0 15px;
  text-decoration: underline .12em rgba(0, 50, 116, 0);
  text-underline-offset: 0.2em;
  transition: text-decoration-color 300ms;
  font-size: 18px;
  font-weight: 600;
  color: #333;
  padding-left: 40px;
}

/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.promotion-banner {
  position: relative;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.carousel {
  position: relative;
}

.carousel img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.carousel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  font-size: 24px;
}

.carousel .prev {
  left: 10px;
}

.carousel .next {
  right: 10px;
}

/* Carousel Indicators */

.carousel-indicators {
  position: absolute;
  bottom: 20px; /* Positioning at the bottom within the image */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.carousel-indicators .dot {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.carousel-indicators .active {
  background-color: #333;
}

/* Responsiveness */
@media (max-width: 768px) {
  .carousel button {
      font-size: 18px;
  }
  
  .carousel img {
      max-height: 300px;
  }

  .carousel-indicators {
      bottom: 10px;
  }
}
  
a:hover{
  color: rgb(0, 50, 116);
  text-decoration-color: rgba(0, 50, 116, 1);
}

a.sale-link:hover{
  color: rgb(154, 0, 0);
  text-decoration-color: rgba(154, 0, 0, 1);
}

.material-symbols-outlined {
  vertical-align: middle;
}

a.sale-link {
  color: #9A0000;
}

/* footer */

/* Footer Styles */
footer {
  background-color: #01214A;
  color: white;
  height: 300px
}

.footer-container {
  display: flex;
}

.footer-column {
  padding-left: 15px;
  min-width: 200px;
  margin: 30px;

}
.newsletter-column {
  
  min-width: 200px;
  margin: 30px;
  margin-left: 150px;
}

.footer-column h4, .newsletter-column h4 {
  margin-bottom: 15px;
  font-size: 18px;
}

.footer-column p, .newsletter-column p {
  margin-bottom: 10px;
  font-size: 16px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: white;
  text-decoration: none;

}

.footer-column ul li a:hover {
  color: white;
  text-decoration: underline;

}



.newsletter-form {
  display: flex;
  margin-bottom: 10px;
}

.newsletter-form input {
  padding: 10px;
  border: none;
  border-radius: 3px 0 0 3px;
  width: 70%;
}

.newsletter-form button {
  background-color: #0066cc;
  border: none;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 0 3px 3px 0;
}

.payment-methods img {
  width: 40px;
  margin-right: 10px;
}

.footer-bottom {
  text-align: center;
  margin-top: 0px;
  font-size: 16px;
}

@media (max-width: 768px) {
  .footer-container {
      flex-direction: column;
      text-align: center;
  }

  .newsletter-form input {
      width: 100%;
      margin-bottom: 10px;
      border-radius: 3px;
  }

  .newsletter-form button {
      width: 100%;
      border-radius: 3px;
  }

  .payment-methods img {
      margin-top: 10px;
  }
}

.offer-categories {
  text-align: left;
  margin: 40px 0 30px 80px;
}

.offer-categories h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

.offers-container {
  display: flex;
  gap: 50px;
}

.offer-item {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  height: 280px;
  width: 250px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0), 25px 0 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
  
}

.new-product {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  height: 250px;
  width: 300px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0), 25px 0 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
  
}


.offer-item img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.new-product img {
  width: 100%;
  height: 180px;
}

.placeholder {
  width: 100%;
  height: 180px;
  background-color: #e6e6e6;
  margin-bottom: 10px;
}

.offer-item p {
  font-size: 14px;
}

.offer-item h3 {
  font-size: 13px;
  text-align: center;
}

.price {
  font-weight: bold;
  margin: 10px 0;
  display: inline-block;
}
.new-product .price {
  margin-left: 50px;
}
.new-product p{
  display: inline-block;
  gap: 20px;
}

.shop-now-btn {
  background-color: #01214A;
  color: white;
  margin-top: 15px;
  margin-left: 30px;
  margin-bottom: 100px;
  padding: 7px 12px;
  cursor: pointer;
  border-radius: 10px;
  display: inline-block;
}

.shop-now-btn:hover {
  background-color: #0055b3;
}

.new-products {
  text-align: center;
  margin: 40px 0;
}

.new-products h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-control {
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.product-item {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 180px;
  margin: 0 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.product-item img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

